<h4>Inline code</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
        For example, [m]<code>&lt;section&gt;</code>[/m] should be wrapped as inline.
    {% endblock %}
{% endembed %}

<h4>User input</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
To switch directories, type [m]<kbd>cd</kbd>[/m] followed by the name of the directory.<br>
To edit settings, press [m]<kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>[/m]
    {% endblock %}
{% endembed %}

<h4>Block code</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
        [m]<pre>[/m]&lt;p&gt;Sample text here...&lt;/p&gt;[m]</pre>[/m]
    {% endblock %}
{% endembed %}