<h4>Sizes <small>example</small></h4>

{% set sgLeftWidth = '1_1' %}
{% set sgRightWidth = '1_1' %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="g-row as--gutter-5[hide] as--debug[/hide]">
    <div class="g-col">[...]
        <div class="g-col__inner">
            1/1
        </div>
[/...]</div>
    <div class="g-col [m]as--1_2@lg[/m]">[...]
        <div class="g-col__inner">
            1/2
        </div>
[/...]</div>
    <div class="g-col [m]as--1_2@lg[/m]">[...]
        <div class="g-col__inner">
            1/2
        </div>
[/...]</div>
    <div class="g-col [m]as--1_3@lg[/m]">[...]
        <div class="g-col__inner">
            1/3
        </div>
[/...]</div>
    <div class="g-col [m]as--1_3@lg[/m]">[...]
        <div class="g-col__inner">
            1/3
        </div>
[/...]</div>
    <div class="g-col [m]as--1_3@lg[/m]">[...]
        <div class="g-col__inner">
            1/3
        </div>
[/...]</div>
    <div class="g-col [m]as--1_4@lg[/m]">[...]
        <div class="g-col__inner">
            1/4
        </div>
[/...]</div>
    <div class="g-col [m]as--1_4@lg[/m]">[...]
        <div class="g-col__inner">
            1/4
        </div>
[/...]</div>
    <div class="g-col [m]as--1_4@lg[/m]">[...]
        <div class="g-col__inner">
            1/4
        </div>
[/...]</div>
    <div class="g-col [m]as--1_4@lg[/m]">[...]
        <div class="g-col__inner">
            1/4
        </div>
[/...]</div>
    <div class="g-col [m]as--1_5@lg[/m]">[...]
        <div class="g-col__inner">
            1/5
        </div>
[/...]</div>
    <div class="g-col [m]as--1_5@lg[/m]">[...]
        <div class="g-col__inner">
            1/5
        </div>
[/...]</div>
    <div class="g-col [m]as--1_5@lg[/m]">[...]
        <div class="g-col__inner">
            1/5
        </div>
[/...]</div>
    <div class="g-col [m]as--1_5@lg[/m]">[...]
        <div class="g-col__inner">
            1/5
        </div>
[/...]</div>
    <div class="g-col [m]as--1_5@lg[/m]">[...]
        <div class="g-col__inner">
            1/5
        </div>
[/...]</div>
    <div class="g-col [m]as--1_6@lg[/m]">[...]
        <div class="g-col__inner">
            1/6
        </div>
[/...]</div>
    <div class="g-col [m]as--1_6@lg[/m]">[...]
        <div class="g-col__inner">
            1/6
        </div>
[/...]</div>
    <div class="g-col [m]as--1_6@lg[/m]">[...]
        <div class="g-col__inner">
            1/6
        </div>
[/...]</div>
    <div class="g-col [m]as--1_6@lg[/m]">[...]
        <div class="g-col__inner">
            1/6
        </div>
[/...]</div>
    <div class="g-col [m]as--1_6@lg[/m]">[...]
        <div class="g-col__inner">
            1/6
        </div>
[/...]</div>
    <div class="g-col [m]as--1_6@lg[/m]">[...]
        <div class="g-col__inner">
            1/6
        </div>
[/...]</div>
    <div class="g-col [m]as--1_7@lg[/m]">[...]
        <div class="g-col__inner">
            1/7
        </div>
[/...]</div>
    <div class="g-col [m]as--1_7@lg[/m]">[...]
        <div class="g-col__inner">
            1/7
        </div>
[/...]</div>
    <div class="g-col [m]as--1_7@lg[/m]">[...]
        <div class="g-col__inner">
            1/7
        </div>
[/...]</div>
    <div class="g-col [m]as--1_7@lg[/m]">[...]
        <div class="g-col__inner">
            1/7
        </div>
[/...]</div>
    <div class="g-col [m]as--1_7@lg[/m]">[...]
        <div class="g-col__inner">
            1/7
        </div>
[/...]</div>
    <div class="g-col [m]as--1_7@lg[/m]">[...]
        <div class="g-col__inner">
            1/7
        </div>
[/...]</div>
    <div class="g-col [m]as--1_7@lg[/m]">[...]
        <div class="g-col__inner">
            1/7
        </div>
[/...]</div>
    <div class="g-col [m]as--1_8@lg[/m]">[...]
        <div class="g-col__inner">
            1/8
        </div>
[/...]</div>
    <div class="g-col [m]as--1_8@lg[/m]">[...]
        <div class="g-col__inner">
            1/8
        </div>
[/...]</div>
    <div class="g-col [m]as--1_8@lg[/m]">[...]
        <div class="g-col__inner">
            1/8
        </div>
[/...]</div>
    <div class="g-col [m]as--1_8@lg[/m]">[...]
        <div class="g-col__inner">
            1/8
        </div>
[/...]</div>
    <div class="g-col [m]as--1_8@lg[/m]">[...]
        <div class="g-col__inner">
            1/8
        </div>
[/...]</div>
    <div class="g-col [m]as--1_8@lg[/m]">[...]
        <div class="g-col__inner">
            1/8
        </div>
[/...]</div>
    <div class="g-col [m]as--1_8@lg[/m]">[...]
        <div class="g-col__inner">
            1/8
        </div>
[/...]</div>
    <div class="g-col [m]as--1_8@lg[/m]">[...]
        <div class="g-col__inner">
            1/8
        </div>
[/...]</div>
</div>
    {% endblock %}
{% endembed %}

{% set sgLeftWidth = '1_2' %}
{% set sgRightWidth = '1_2' %}

<h4>Default grid <small>example</small></h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="g-row[hide] as--debug[/hide]">
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [...]
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [/...]
</div>
    {% endblock %}
{% endembed %}

<h4>Horizontal align center<small>example</small></h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="g-row [m]as--h-align-center[/m][hide] as--debug[/hide]">
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [...]
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [/...]
</div>
    {% endblock %}
{% endembed %}

<h4>Vertical center <small>example</small></h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="g-row [m]as--v-align-center[/m][hide] as--debug[/hide]">
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [...]
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [/...]
</div>
    {% endblock %}
{% endembed %}

<h4>Columns width auto <small>example</small></h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="g-row [m]as--cols-w-auto[/m][hide] as--debug[/hide]">
    <div class="g-col">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [...]
    <div class="g-col">
        <div class="g-col__inner">
            Demo<br>
            Second line<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [/...]
</div>
    {% endblock %}
{% endembed %}

<h4>Columns width auto <small>example</small></h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="g-row [m]as--cols-w-auto[/m][hide] as--debug[/hide]">
    <div class="g-col as--1_4">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    <div class="g-col [m]as--w-auto-full[/m]">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_4">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
</div>
    {% endblock %}
{% endembed %}

<h4>Flexbox disabled <small>example</small></h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="g-row [m]as--no-flex[/m][hide] as--debug[/hide]">
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [...]
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [/...]
</div>
    {% endblock %}
{% endembed %}

<h4>Flexbox disabled and horizontal align center <small>example</small></h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="g-row [m]as--no-flex[/m] [m]as--h-align-center[/m][hide] as--debug[/hide]">
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [...]
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo<br>
            Second line with lot of words, just to see a line wrapping into multiple lines.<br>
            Third line<br>
            Fourth line
        </div>
    </div>
    <div class="g-col as--1_3">
        <div class="g-col__inner">
            Demo
        </div>
    </div>
    [/...]
</div>
    {% endblock %}
{% endembed %}