<h4>Colors</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<!-- Default alert -->
<div class="[m]o-alert[/m]">
    [...]Default alert[/...]
</div>

<!-- Default alert colorful -->
<div class="[m]o-alert[/m] [m]as--colorful[/m]">
    [...]Default alert colorful[/...]
</div>
    {% endblock %}
{% endembed %}


{% embed sgTplDoc %}
    {% block sgCode %}
<!-- Success alert -->
<div class="o-alert [m]as--success[/m]">
    [...]Success alert[/...]
</div>

<!-- Success alert colorful -->
<div class="o-alert [m]as--colorful[/m] [m]as--success[/m]">
    [...]Success alert colorful[/...]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<!-- Info alert -->
<div class="o-alert [m]as--info[/m]">
    [...]Info alert[/...]
</div>

<!-- Info alert colorful -->
<div class="o-alert [m]as--colorful[/m] [m]as--info[/m]">
    [...]Info alert colorful[/...]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<!-- Warning alert -->
<div class="o-alert [m]as--warning[/m]">
    [...]Warning alert[/...]
</div>

<!-- Warning alert colorful -->
<div class="o-alert [m]as--colorful[/m] [m]as--warning[/m]">
    [...]Warning alert colorful[/...]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<!-- Danger alert -->
<div class="o-alert [m]as--danger[/m]">
    [...]Danger alert[/...]
</div>

<!-- Danger alert colorful -->
<div class="o-alert [m]as--colorful[/m] [m]as--danger[/m]">
    [...]Danger alert colorful[/...]
</div>
    {% endblock %}
{% endembed %}

<h4>
    With icon
</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
        <div class="o-alert [m]as--with-icon[/m]">
            [m]<span class="o-alert__icon">
        <i class="fa fa-info-circle"></i>
    </span>[/m]
            [...]Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cum deleniti facilis fugit impedit iste laboriosam mollitia nobis optio, porro quaerat, rem vero voluptates! Consectetur dicta dolorum fugiat obcaecati sequi.[/...]
        </div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="o-alert [m]as--with-icon[/m]">
    [m]<span class="o-alert__icon">
        <i class="fa fa-warning"></i>
    </span>[/m]
    [...]Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cum deleniti facilis fugit impedit iste laboriosam mollitia nobis optio, porro quaerat, rem vero voluptates! Consectetur dicta dolorum fugiat obcaecati sequi.[/...]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <div class="o-alert [m]as--with-icon[/m]">
            [m]<span class="o-alert__icon">
        <i class="fa fa-spinner fa-spin"></i>
    </span>[/m]
            [...]Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cum deleniti facilis fugit impedit iste laboriosam mollitia nobis optio, porro quaerat, rem vero voluptates! Consectetur dicta dolorum fugiat obcaecati sequi.[/...]
        </div>
    {% endblock %}
{% endembed %}