<p>
    Icons are provided by <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome 4.5.0</a>
</p>

{% set sgLeftWidth = '1_6' %}
{% set sgRightWidth = '5_6' %}

{% embed sgTplDoc %}
    {% block sgCode %}
<i class="fa [m]fa-bar-chart[/m]"></i> <i class="fa [m]fa-cog[/m]"></i> <i class="fa [m]fa-rocket[/m]"></i> ...
    {% endblock %}
{% endembed %}

<div class="g-row as--gutter-bottom">
    <div class="g-col as--1_2@xl">
        <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank" class="o-button as--primary">
            <i class="fa fa-th u-ibefore"></i> Browser all icons (4.5.0)
        </a>
    </div>
    <div class="g-col as--1_2@xl">
        <a href="http://fortawesome.github.io/Font-Awesome/examples/" target="_blank" class="o-button">
            More examples
        </a>
    </div>
</div>