{% set sgLeftWidth = '1_4' %}
{% set sgRightWidth = '3_4' %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="[m]o-label[/m]">Default</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--primary[/m]">Primary</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--light[/m]">Light</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--success[/m]">Success</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--info[/m]">Info</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--warning[/m]">Warning</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--danger[/m]">Danger</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--status-requested[/m]">Status requested</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--status-pending[/m]">Status pending</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--status-success[/m]">Status success</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--status-failed[/m]">Status failed</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--status-killed[/m]">Status killed</span>
    {% endblock %}
{% endembed %}

<h4>Sizes</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--xl[/m]">Extra large</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--lg[/m]">Large</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="[m]o-label[/m]">Default</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--sm[/m]">Small</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--xs[/m]">Extra small</span>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
        <span class="o-label [m]as--xxs[/m]">Extra extra small</span>
    {% endblock %}
{% endembed %}
