{% set sgLeftWidth = '1_3' %}
{% set sgRightWidth = '2_3' %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="c-links-nav">
    <a ng-click="" class="c-links-nav__item">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--active">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--status-requested">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--status-success">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--status-pending">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--status-failed">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--status-killed">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--loading">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--disabled">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--loading as--disabled">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
    <a ng-click="" class="c-links-nav__item as--loading as--active">
        <strong>Title</strong>
        <small>Subtitle</small>
    </a>
</div>
    {% endblock %}
{% endembed %}