{% set sgLeftWidth = '1_3' %}
{% set sgRightWidth = '2_3' %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="c-nice-links-list">
    <a class="c-nice-links-list__item" ng-click="">
        <small>Small</small>
        Link title
    </a>
    [...]
    <a class="c-nice-links-list__item" ng-click="">
        <small>Small</small>
        Link title
    </a>
    <a class="c-nice-links-list__item" ng-click="">
        <small>Small</small>
        Link title
    </a>
    [/...]
</div>
    {% endblock %}
{% endembed %}

<h4>
    Condensed version
</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="c-nice-links-list [m]as--condensed[/m]">
    <a class="c-nice-links-list__item" ng-click="">
        <small>Small</small>
        Link title
    </a>
    [...]
    <a class="c-nice-links-list__item" ng-click="">
        <small>Small</small>
        Link title
    </a>
    <a class="c-nice-links-list__item" ng-click="">
        <small>Small</small>
        Link title
    </a>
    [/...]
</div>
    {% endblock %}
{% endembed %}

<h4>
    List platforms
</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="c-nice-links-list [m]as--platforms[/m]">
    <a class="c-nice-links-list__item" ng-click="">
        <small>Platform</small>
        Platform name
    </a>
    [...]
    <a class="c-nice-links-list__item" ng-click="">
        <small>Platform</small>
        Platform name
    </a>
    <a class="c-nice-links-list__item" ng-click="">
        <small>Platform</small>
        Platform name
    </a>
    [/...]
</div>
    {% endblock %}
{% endembed %}

<h4>
    List users
</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="c-nice-links-list [m]as--users[/m]">
    <a class="c-nice-links-list__item" ng-click="">
        <small>User</small>
        Username
    </a>
    [...]
    <a class="c-nice-links-list__item" ng-click="">
        <small>Admin</small>
        Username
    </a>
    <a class="c-nice-links-list__item" ng-click="">
        <small>Super Admin</small>
        Username
    </a>
    [/...]
</div>
    {% endblock %}
{% endembed %}