{% set sgLeftWidth = '1_4' %}
{% set sgRightWidth = '3_4' %}

{% embed sgTplDoc %}
    {% block sgCode %}
<button type="button"
        class="o-button"
        [m]ui-click-confirm="vm.myFunction()"[/m]>
    Confirm default
</button>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<button type="button"
        class="o-button"
        ui-click-confirm="vm.myFunction()"
        [m]ui-click-confirm-options='{
            type: "default",
            title: "Title",
            message: "This is the confirm message",
            cancel: "No, thanks",
            cancelClass: "as--link",
            confirm: "Yes, please!",
            confirmClass: "as--primary",
            position: "right middle"
        }'[/m]>
Confirm all options
</button>
    {% endblock %}
{% endembed %}

<h4>Types</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<button type="button"
        class="o-button"
        ui-click-confirm="vm.myFunction()"
        ui-click-confirm-options='{
            type: "[m]danger[/m]",
            message: "You are about to do something dangerous!",
            confirm: "Do it!",
        }'>
    Confirm danger
</button>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<button type="button"
        class="o-button"
        ui-click-confirm="vm.myFunction()"
        ui-click-confirm-options='{
            type: "[m]remove[/m]",
            message: "You are about to remove something!",
            confirm: "Remove"
        }'>
    Confirm remove
</button>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<button type="button"
        class="o-button"
        ui-click-confirm="vm.myFunction()"
        ui-click-confirm-options='{
            type: "[m]success[/m]",
            message: "You are about to do something good!",
            confirm: "Yes, of course!"
        }'>
    Confirm success
</button>
    {% endblock %}
{% endembed %}

<h4>Available positions</h4>

<pre>
'top left'
'left top'
'left middle'
'left bottom'
'bottom left'
'bottom center'
'bottom right'
'right bottom'
'right middle' (default)
'right top'
'top right'
'top center'
</pre>