{% embed sgTplDoc %}
    {% block sgCode %}
<ui-dropdown ng-cloak>
    <ui-dropdown-button class="o-button">
        Dropdown
    </ui-dropdown-button>
    <ui-dropdown-menu>
        <ul>
            <li>
                <a ng-click="">
                    Link
                </a>
            </li>
            [...]
            <li>
                <a ng-click="">
                    Link
                </a>
            </li>
            <li>
                <a ng-click="">
                    Link
                </a>
            </li>
            [/...]
        </ul>
    </ui-dropdown-menu>
</ui-dropdown>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<ui-dropdown ng-cloak options="{position: 'bottom right'}">
    <ui-dropdown-button class="o-button">
        Dropdown align right
    </ui-dropdown-button>
    <ui-dropdown-menu>
        [...]
        <ul>
            <li>
                <a ng-click="">
                    Link
                </a>
            </li>
            <li>
                <a ng-click="">
                    Link with a long... very long name
                </a>
            </li>
            <li>
                <a ng-click="">
                    Link
                </a>
            </li>
        </ul>
        [/...]
    </ui-dropdown-menu>
</ui-dropdown>
    {% endblock %}
{% endembed %}
