{% embed sgTplDoc %}
    {% block sgCode %}
<nav class="c-tabs-nav" ui-tabs-nav>
    <a href="#tab1-1" class="c-tabs-nav__link as--active">Tab 1</a>
    <a href="#tab1-2" class="c-tabs-nav__link">Tab 2</a>
    <a href="#tab1-3" class="c-tabs-nav__link">Tab 3</a>
</nav>
<div class="c-tabs-panel" id="tab1-1">
    [...]
    <h4 class="e-h4">Tab 1</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eos porro possimus praesentium similique. At, consequatur cupiditate dolore, molestiae natus numquam odit perferendis quas quidem recusandae sint sunt unde, voluptatum.</p>
    [/...]
</div>
[...]
<div class="c-tabs-panel" id="tab1-2">
    <h4 class="e-h4">Tab 2</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum doloribus earum eos esse fuga illum ipsam iste laudantium nesciunt non nulla, omnis quam, quia repellendus ullam unde veritatis voluptas?</p>
</div>
<div class="c-tabs-panel" id="tab1-3">
    <h4 class="e-h4">Tab 3</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus exercitationem incidunt obcaecati saepe sed? Architecto aspernatur, consectetur cumque excepturi fuga, iste iusto laudantium libero nam quisquam repellat veritatis vero voluptatem.</p>
</div>
[/...]
    {% endblock %}
{% endembed %}

<h4>Manage too many tabs</h4>

<h5 class="e-h3">Default</h5>
{% embed sgTplDoc %}
    {% block sgCode %}
<nav class="c-tabs-nav" ui-tabs-nav>
    <a href="#tab2-1" class="c-tabs-nav__link as--active">Tab 1</a>
    <a href="#tab2-2" class="c-tabs-nav__link">Tab 2</a>
    <a href="#tab2-3" class="c-tabs-nav__link">Tab 3</a>
    [...]
    <a href="#tab2-4" class="c-tabs-nav__link">Tab 4</a>
    <a href="#tab2-5" class="c-tabs-nav__link">Tab 5</a>
    <a href="#tab2-6" class="c-tabs-nav__link">Tab 6</a>
    <a href="#tab2-7" class="c-tabs-nav__link">Tab 7</a>
    <a href="#tab2-8" class="c-tabs-nav__link">Tab 8</a>
    <a href="#tab2-9" class="c-tabs-nav__link">Tab 9</a>
    <a href="#tab2-10" class="c-tabs-nav__link">Tab 10</a>
    [/...]
</nav>
<div class="c-tabs-panel" id="tab2-1">
    [...]
    <h4 class="e-h4">Tab 1</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eos porro possimus praesentium similique. At, consequatur cupiditate dolore, molestiae natus numquam odit perferendis quas quidem recusandae sint sunt unde, voluptatum.</p>
    [/...]
</div>
[...]
<div class="c-tabs-panel" id="tab2-2">
    <h4 class="e-h4">Tab 2</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum doloribus earum eos esse fuga illum ipsam iste laudantium nesciunt non nulla, omnis quam, quia repellendus ullam unde veritatis voluptas?</p>
</div>
<div class="c-tabs-panel" id="tab2-3">
    <h4 class="e-h4">Tab 3</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus exercitationem incidunt obcaecati saepe sed? Architecto aspernatur, consectetur cumque excepturi fuga, iste iusto laudantium libero nam quisquam repellat veritatis vero voluptatem.</p>
</div>
<div class="c-tabs-panel" id="tab2-4">
    <h4 class="e-h4">Tab 4</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam assumenda cupiditate deleniti doloremque enim, eos, laboriosam minus modi odio, placeat porro praesentium quas quis repellendus sed tenetur? Fuga, harum!</p>
</div>
<div class="c-tabs-panel" id="tab2-5">
    <h4 class="e-h4">Tab 5</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque consequuntur culpa cum delectus deserunt doloremque esse harum incidunt officia, perspiciatis saepe sed suscipit voluptate. Distinctio odio recusandae vel!</p>
</div>
<div class="c-tabs-panel" id="tab2-6">
    <h4 class="e-h4">Tab 6</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid, voluptates! Accusamus, aliquid consequuntur ducimus eius enim, illum incidunt ipsa libero minima nulla porro qui ratione sed sint voluptatem voluptatum!</p>
</div>
<div class="c-tabs-panel" id="tab2-7">
    <h4 class="e-h4">Tab 7</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab2-8">
    <h4 class="e-h4">Tab 8</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab2-9">
    <h4 class="e-h4">Tab 9</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab2-10">
    <h4 class="e-h4">Tab 10</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
[/...]
    {% endblock %}
{% endembed %}

<h5 class="e-h3">Scroll with color-bg-content background</h5>
{% embed sgTplDoc %}
    {% block sgCode %}
<nav class="c-tabs-nav [m]as--overflow-bg-content[/m]" ui-tabs-nav>
    <a href="#tab3-1" class="c-tabs-nav__link as--active">Tab 1</a>
    <a href="#tab3-2" class="c-tabs-nav__link">Tab 2</a>
    <a href="#tab3-3" class="c-tabs-nav__link">Tab 3</a>
    [...]
    <a href="#tab3-4" class="c-tabs-nav__link">Tab 4</a>
    <a href="#tab3-5" class="c-tabs-nav__link">Tab 5</a>
    <a href="#tab3-6" class="c-tabs-nav__link">Tab 6</a>
    <a href="#tab3-7" class="c-tabs-nav__link">Tab 7</a>
    <a href="#tab3-8" class="c-tabs-nav__link">Tab 8</a>
    <a href="#tab3-9" class="c-tabs-nav__link">Tab 9</a>
    <a href="#tab3-10" class="c-tabs-nav__link">Tab 10</a>
    [/...]
</nav>
<div class="c-tabs-panel" id="tab3-1">
    [...]
    <h4 class="e-h4">Tab 1</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eos porro possimus praesentium similique. At, consequatur cupiditate dolore, molestiae natus numquam odit perferendis quas quidem recusandae sint sunt unde, voluptatum.</p>
    [/...]
</div>
[...]
<div class="c-tabs-panel" id="tab3-2">
    <h4 class="e-h4">Tab 2</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum doloribus earum eos esse fuga illum ipsam iste laudantium nesciunt non nulla, omnis quam, quia repellendus ullam unde veritatis voluptas?</p>
</div>
<div class="c-tabs-panel" id="tab3-3">
    <h4 class="e-h4">Tab 3</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus exercitationem incidunt obcaecati saepe sed? Architecto aspernatur, consectetur cumque excepturi fuga, iste iusto laudantium libero nam quisquam repellat veritatis vero voluptatem.</p>
</div>
<div class="c-tabs-panel" id="tab3-4">
    <h4 class="e-h4">Tab 4</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam assumenda cupiditate deleniti doloremque enim, eos, laboriosam minus modi odio, placeat porro praesentium quas quis repellendus sed tenetur? Fuga, harum!</p>
</div>
<div class="c-tabs-panel" id="tab3-5">
    <h4 class="e-h4">Tab 5</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque consequuntur culpa cum delectus deserunt doloremque esse harum incidunt officia, perspiciatis saepe sed suscipit voluptate. Distinctio odio recusandae vel!</p>
</div>
<div class="c-tabs-panel" id="tab3-6">
    <h4 class="e-h4">Tab 6</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid, voluptates! Accusamus, aliquid consequuntur ducimus eius enim, illum incidunt ipsa libero minima nulla porro qui ratione sed sint voluptatem voluptatum!</p>
</div>
<div class="c-tabs-panel" id="tab3-7">
    <h4 class="e-h4">Tab 7</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab3-8">
    <h4 class="e-h4">Tab 8</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab3-9">
    <h4 class="e-h4">Tab 9</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab3-10">
    <h4 class="e-h4">Tab 10</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
[/...]
    {% endblock %}
{% endembed %}

<h5 class="e-h3">Scroll with white background</h5>
{% embed sgTplDoc %}
    {% block sgCode %}
<nav class="c-tabs-nav [m]as--overflow-bg-white[/m]" ui-tabs-nav>
    <a href="#tab3-1" class="c-tabs-nav__link as--active">Tab 1</a>
    <a href="#tab3-2" class="c-tabs-nav__link">Tab 2</a>
    <a href="#tab3-3" class="c-tabs-nav__link">Tab 3</a>
    [...]
    <a href="#tab3-4" class="c-tabs-nav__link">Tab 4</a>
    <a href="#tab3-5" class="c-tabs-nav__link">Tab 5</a>
    <a href="#tab3-6" class="c-tabs-nav__link">Tab 6</a>
    <a href="#tab3-7" class="c-tabs-nav__link">Tab 7</a>
    <a href="#tab3-8" class="c-tabs-nav__link">Tab 8</a>
    <a href="#tab3-9" class="c-tabs-nav__link">Tab 9</a>
    <a href="#tab3-10" class="c-tabs-nav__link">Tab 10</a>
    [/...]
</nav>
<div class="c-tabs-panel" id="tab3-1">
    [...]
    <h4 class="e-h4">Tab 1</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eos porro possimus praesentium similique. At, consequatur cupiditate dolore, molestiae natus numquam odit perferendis quas quidem recusandae sint sunt unde, voluptatum.</p>
    [/...]
</div>
[...]
<div class="c-tabs-panel" id="tab3-2">
    <h4 class="e-h4">Tab 2</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum doloribus earum eos esse fuga illum ipsam iste laudantium nesciunt non nulla, omnis quam, quia repellendus ullam unde veritatis voluptas?</p>
</div>
<div class="c-tabs-panel" id="tab3-3">
    <h4 class="e-h4">Tab 3</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus exercitationem incidunt obcaecati saepe sed? Architecto aspernatur, consectetur cumque excepturi fuga, iste iusto laudantium libero nam quisquam repellat veritatis vero voluptatem.</p>
</div>
<div class="c-tabs-panel" id="tab3-4">
    <h4 class="e-h4">Tab 4</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam assumenda cupiditate deleniti doloremque enim, eos, laboriosam minus modi odio, placeat porro praesentium quas quis repellendus sed tenetur? Fuga, harum!</p>
</div>
<div class="c-tabs-panel" id="tab3-5">
    <h4 class="e-h4">Tab 5</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque consequuntur culpa cum delectus deserunt doloremque esse harum incidunt officia, perspiciatis saepe sed suscipit voluptate. Distinctio odio recusandae vel!</p>
</div>
<div class="c-tabs-panel" id="tab3-6">
    <h4 class="e-h4">Tab 6</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid, voluptates! Accusamus, aliquid consequuntur ducimus eius enim, illum incidunt ipsa libero minima nulla porro qui ratione sed sint voluptatem voluptatum!</p>
</div>
<div class="c-tabs-panel" id="tab3-7">
    <h4 class="e-h4">Tab 7</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab3-8">
    <h4 class="e-h4">Tab 8</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab3-9">
    <h4 class="e-h4">Tab 9</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
<div class="c-tabs-panel" id="tab3-10">
    <h4 class="e-h4">Tab 10</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eum in maiores nulla quaerat quas quod recusandae. Aspernatur, delectus ducimus eos facilis harum id iure laborum quaerat quidem, reiciendis tenetur.</p>
</div>
[/...]
    {% endblock %}
{% endembed %}