{% set sgLeftWidth = '1_3' %}
{% set sgRightWidth = '2_3' %}

<p>
    Every element of a form must be wrap into a <code>.f-group</code> and all textual <code>input</code>, <code>textarea</code> and <code>select</code> must have the class <code>.f-control</code> to be displayed properly.
</p>

<h4>Example:</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<form>
    <div class="[m]f-group[/m]">
        <label for="example1">Label</label>
        <input type="text" class="[m]f-control[/m]" id="example1">
    </div>
</form>
    {% endblock %}
{% endembed %}

<h4>Form as grid</h4>

<p>
    You can use the grid for forms. Add the class <code>.g-col</code> on <code>.f-group</code> elements and wrap them into a <code>.g-row</code> (which can be a <code>{{ '<form>'|e }}</code> but doesn't have to be) .
</p>

{% embed sgTplDoc %}
    {% block sgCode %}
<form class="[m]g-row[/m]">
    <div class="[m]f-group g-col as--1_2@sm[/m]">
        <label for="[...]exampleInputEmail1[/...]">Email address</label>
        <input type="email" class="f-control" id="[...]exampleInputEmail1[/...]" placeholder="Email">
    </div>
    <div class="[m]f-group g-col as--1_2@sm[/m]">
        <label for="[...]exampleInputPassword1[/...]">Password</label>
        <input type="password" class="f-control" id="[...]exampleInputPassword1[/...]" placeholder="Password">
    </div>
    <div class="[m]f-group g-col[/m]">
        <label for="[...]exampleInputFile[/...]">File input</label>
        <input type="file" id="[...]exampleInputFile[/...]">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="[m]f-group g-col[/m]">
        <label for="[...]exampleSelect[/...]">Select</label>
        <select class="f-control" id="[...]exampleSelect[/...]">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div class="[m]f-group g-col[/m]">
        <label class="f-checkbox">
            <input type="checkbox">
            <span class="f-checkbox__indicator"></span>
            Check me out
        </label>
    </div>
    <div class="[m]f-group g-col as--1_2@sm[/m]">
        <button type="submit" class="o-button">Submit</button>
    </div>
</form>
    {% endblock %}
{% endembed %}

<h4>
    Basic text inputs
</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic100[/...]">Input text</label>
    [m]<input type="text" class="f-control" id="[...]exampleBasic100[/...]">[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic200[/...]">Input email</label>
    [m]<input type="email" class="f-control" id="[...]exampleBasic200[/...]" placeholder="[...]name@example.com[/...]">[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic300[/...]">Input password</label>
    [m]<ui-input-password>
        <input type="password" class="f-control" id="[...]exampleBasic300[/...]">
    </ui-input-password>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic350[/...]">Input search</label>
    [m]<div class="f-input-search">
        <input class="f-control" type="search" placeholder="Search..." id="[...]exampleBasic350[/...]">
    </div>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic400[/...]">Textarea</label>
    [m]<textarea class="f-control" id="[...]exampleBasic400[/...]"></textarea>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic450[/...]">Textarea for code</label>
    [m]<textarea class="f-control as--code" id="[...]exampleBasic450[/...]"></textarea>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic500[/...]">Select</label>
    [m]<select class="f-control" id="[...]exampleBasic500[/...]">
        <option value="1">1</option>
        [...]
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        [/...]
    </select>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic600[/...]">Select multiple</label>
    [m]<select class="f-control" id="[...]exampleBasic600[/...]" multiple>
        <option value="1">1</option>
        [...]
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        [/...]
    </select>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic700[/...]">Input file (native)</label>
    [m]<input type="file" id="[...]exampleBasic700[/...]">[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleBasic800[/...]">Input file</label>
    [m]<label class="f-input-file">
        <input type="file" id="[...]exampleBasic800[/...]">
        <span class="o-button as--soft as--sm">
            Choose a file...
        </span>
    </label>[/m]
</div>

[hide]
    // TODO: JS for change state when a file (or more) is selected
[/hide]
    {% endblock %}
{% endembed %}

<h4>
    Radios &amp; checkboxes
</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label>Basic radios</label>
    [m]<div class="f-radio-group">
        <label class="f-radio">
            <input type="radio" name="[...]exampleRadio100[/...]">
            <span class="f-radio__indicator"></span>
            <span class="f-radio__label">Radio 1</span>
        </label>
        [...]
        <label class="f-radio">
            <input type="radio" name="[...]exampleRadio100[/...]">
            <span class="f-radio__indicator"></span>
            <span class="f-radio__label">Radio 2</span>
        </label>
        <label class="f-radio">
            <input checked type="radio" name="[...]exampleRadio100[/...]">
            <span class="f-radio__indicator"></span>
            <span class="f-radio__label">Radio 3</span>
        </label>
        <label class="f-radio">
            <input disabled type="radio" name="[...]exampleRadio100[/...]">
            <span class="f-radio__indicator"></span>
            <span class="f-radio__label">Radio 4</span>
        </label>
        [/...]
    </div>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label>Inline radios</label>
    [m]<div class="f-radio-group">
        <label class="f-radio as--inline">
            <input type="radio" name="[...]exampleRadio200[/...]">
            <span class="f-radio__indicator"></span>
            <span class="f-radio__label">Radio 1</span>
        </label>
        [...]
        <label class="f-radio as--inline">
            <input type="radio" name="[...]exampleRadio200[/...]">
            <span class="f-radio__indicator"></span>
            <span class="f-radio__label">Radio 2</span>
        </label>
        <label class="f-radio as--inline">
            <input checked type="radio" name="[...]exampleRadio200[/...]">
            <span class="f-radio__indicator"></span>
            <span class="f-radio__label">Radio 3</span>
        </label>
        <label class="f-radio as--inline">
            <input disabled type="radio" name="[...]exampleRadio200[/...]">
            <span class="f-radio__indicator"></span>
            <span class="f-radio__label">Radio 4</span>
        </label>
        [/...]
    </div>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label>Native radios</label>
    [m]<div class="f-radio-group">
        <label class="f-radio as--native">
            <input type="radio" name="[...]exampleRadio300[/...]">
            Radio 1
        </label>
        [...]
        <label class="f-radio as--native">
            <input type="radio" name="[...]exampleRadio300[/...]">
            Radio 2
        </label>
        <label class="f-radio as--native">
            <input checked type="radio" name="[...]exampleRadio300[/...]">
            Radio 3
        </label>
        <label class="f-radio as--native">
            <input disabled type="radio" name="[...]exampleRadio300[/...]">
            Radio 4
        </label>
        [/...]
    </div>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label>Basic checkboxes</label>
    [m]<div class="f-checkbox-group">
        <label class="f-checkbox">
            <input type="checkbox" name="[...]exampleCheckbox100[/...]">
            <span class="f-checkbox__indicator"></span>
            <span class="f-checkbox__label">Checkbox 1</span>
        </label>
        [...]
        <label class="f-checkbox">
            <input type="checkbox" name="[...]exampleCheckbox100[/...]">
            <span class="f-checkbox__indicator"></span>
            <span class="f-checkbox__label">Checkbox 2</span>
        </label>
        <label class="f-checkbox">
            <input checked type="checkbox" name="[...]exampleCheckbox100[/...]">
            <span class="f-checkbox__indicator"></span>
            <span class="f-checkbox__label">Checkbox 3</span>
        </label>
        <label class="f-checkbox">
            <input disabled type="checkbox" name="[...]exampleCheckbox100[/...]">
            <span class="f-checkbox__indicator"></span>
            <span class="f-checkbox__label">Checkbox 4</span>
        </label>
        [/...]
    </div>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label>Inline checkboxes</label>
    [m]<div class="f-checkbox-group">
        <label class="f-checkbox as--inline">
            <input type="checkbox" name="[...]exampleCheckbox200[/...]">
            <span class="f-checkbox__indicator"></span>
            <span class="f-checkbox__label">Checkbox 1</span>
        </label>
        [...]
        <label class="f-checkbox as--inline">
            <input type="checkbox" name="[...]exampleCheckbox200[/...]">
            <span class="f-checkbox__indicator"></span>
            <span class="f-checkbox__label">Checkbox 2</span>
        </label>
        <label class="f-checkbox as--inline">
            <input checked type="checkbox" name="[...]exampleCheckbox200[/...]">
            <span class="f-checkbox__indicator"></span>
            <span class="f-checkbox__label">Checkbox 3</span>
        </label>
        <label class="f-checkbox as--inline">
            <input disabled type="checkbox" name="[...]exampleCheckbox200[/...]">
            <span class="f-checkbox__indicator"></span>
            <span class="f-checkbox__label">Checkbox 4</span>
        </label>
        [/...]
    </div>[/m]
</div>
    {% endblock %}
{% endembed %}

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label>Native checkboxes</label>
    [m]<div class="f-checkbox-group">
        <label class="f-checkbox as--native">
            <input type="checkbox" name="[...]exampleCheckbox300[/...]">
            Checkbox 1
        </label>
        [...]
        <label class="f-checkbox as--native">
            <input type="checkbox" name="[...]exampleCheckbox300[/...]">
            Checkbox 2
        </label>
        <label class="f-checkbox as--native">
            <input checked type="checkbox" name="[...]exampleCheckbox300[/...]">
            Checkbox 3
        </label>
        <label class="f-checkbox as--native">
            <input disabled type="checkbox" name="[...]exampleCheckbox300[/...]">
            Checkbox 4
        </label>
        [/...]
    </div>[/m]
</div>
    {% endblock %}
{% endembed %}

<h4>Help</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group">
    <label for="[...]exampleHelp100[/...]">Label</label>
    [m]<div class="f-help">[/m]
        Little text to help the user before control.
    [m]</div>[/m]
    <input type="text" class="f-control" id="[...]exampleHelp100[/...]">
    [m]<div class="f-help">[/m]
        Little text to help the user after the control.
    [m]</div>[/m]
</div>
    {% endblock %}
{% endembed %}

<h4>Help as feedback</h4>

{% embed sgTplDoc %}
    {% block sgCode %}
<div class="f-group [m]as--success[/m]">
    <label for="[...]exampleHelp210[/...]">Label</label>
    <div class="f-help">
        Help for the user.
    </div>
    <input type="text" class="f-control" id="[...]exampleHelp210[/...]">
    <div class="[m]f-help as--feedback-success[/m]">
        Feedback success for the user.
    </div>
    <div class="[m]f-help as--feedback-info[/m]">
        Feedback info for the user.
    </div>
    <div class="[m]f-help as--feedback-warning[/m]">
        Feedback warning for the user.
    </div>
    <div class="[m]f-help as--feedback-danger[/m]">
        Feedback danger for the user.
    </div>
</div>

<div class="f-group [m]as--info[/m]">[...]
    <label for="exampleHelp220">Label</label>
    <div class="f-help">
        Help for the user.
    </div>
    <input type="text" class="f-control" id="exampleHelp220">
    <div class="[m]f-help as--feedback-success[/m]">
        Feedback success for the user.
    </div>
    <div class="[m]f-help as--feedback-info[/m]">
        Feedback info for the user.
    </div>
    <div class="[m]f-help as--feedback-warning[/m]">
        Feedback warning for the user.
    </div>
    <div class="[m]f-help as--feedback-danger[/m]">
        Feedback danger for the user.
    </div>
[/...]</div>

<div class="f-group [m]as--warning[/m]">[...]
    <label for="exampleHelp230">Label</label>
    <div class="f-help">
        Help for the user.
    </div>
    <input type="text" class="f-control" id="exampleHelp230">
    <div class="[m]f-help as--feedback-success[/m]">
        Feedback success for the user.
    </div>
    <div class="[m]f-help as--feedback-info[/m]">
        Feedback info for the user.
    </div>
    <div class="[m]f-help as--feedback-warning[/m]">
        Feedback warning for the user.
    </div>
    <div class="[m]f-help as--feedback-danger[/m]">
        Feedback danger for the user.
    </div>
[/...]</div>

<div class="f-group [m]as--danger[/m]">[...]
    <label for="exampleHelp240">Label</label>
    <div class="f-help">
        Help for the user.
    </div>
    <input type="text" class="f-control" id="exampleHelp240">
    <div class="[m]f-help as--feedback-success[/m]">
        Feedback success for the user.
    </div>
    <div class="[m]f-help as--feedback-info[/m]">
        Feedback info for the user.
    </div>
    <div class="[m]f-help as--feedback-warning[/m]">
        Feedback warning for the user.
    </div>
    <div class="[m]f-help as--feedback-danger[/m]">
        Feedback danger for the user.
    </div>
[/...]</div>
    {% endblock %}
{% endembed %}