<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebApp</title>

    <!-- build:app-css -->
    <link rel="stylesheet" href="/bundles/app/css/app.0.0.0.css">
    <!-- endbuild -->
</head>

<body id="app" ng-app="app" class="">

    Hello world !!!!!!!!!!!
</body>
</html>